dialog {
    padding: 5px;
}

dialog > form > button.close {
    position: absolute;
    right: 0;
    top: 0;
    font-size: x-small;
    padding: 0
}

dialog#okCancelDialogHostDialog div.buttons {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    gap: 5px;
}

dialog#dialogHostDialog img.type, dialog#okCancelDialogHostDialog img.type {
    float: left;
    height: 30px;
}

dialog#iframeDialogHostDialog > iframe.iframe {
    border: none;
}

dialog#iframeDialogHostDialog {
    padding: 0;
}

dialog[open] {
    background-color: aquamarine;
    min-width: 200px;
}
